@font-face { font-family: 'Montserrat'; 
    src: local('Montserrat'), 
    url('D:/mine/R@ndom team/app/fonts/Montserrat/*.ttf') format('truetype'); 
    font-style: normal; 
    font-weight: normal;
}
   