<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title QuickCheck
        link(rel='stylesheet' href='D:/mine/R@ndom team/dist/css/main1.css')
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet")

    body
        include ../templates/_header.pug

        include ../templates/_main.pug

        include ../templates/_footer.pug
     
