footer.footer
    div.content
        div.QuickCheck
            h4 QuickCheck 
            p Онлайн-калькулятор
            <span> 2020 QCheck </span>
        
        div.Contacts(id="Contacts")
            h4 Контакты 
            p Санкт-Петербург
            p ул. Шоссе в Лаврики 83
            p офис 297
            p 8-904-617-45-91
            p QuickCheck@gmail.com

        div.Links 
            h4 Ссылки 
            a(href ="#") О нас 
            a(href ="#") Калькулятор 
            a(href ="#") История 
            a(href ="#") Контакты 
            a(href ="#") Пользователь

