header.header
    div.content
        nav.logo
            a(href="#go-to-top") <b>QuickCheck</b>

        nav.links
            a(href="#") О нас
            a(href="#") Калькулятор
            a(href="#") История
            a(href="#Contacts") Контакты
            a(href="#")
                img(src='D:/mine/R@ndom team/app/img/Icon.png')



