main.main(id="go-to-top")
            div.content(id="go-to-calculator") 
                div.block1

                    h1 Онлайн-калькулятор для быстрого <br> расчета ваших покупок

                    img(src='D:/mine/R@ndom team/app/img/перегородка.png')

                    p Медиапланирование обуславливает анализ зарубежного <br> опыта. Надо сказать, что бренд основан тщательном <br> анализе данных эластичности спроса.

                    button ПЕРЕЙТИ К РАССЧЕТАМ
                div.block2
                    img.block2_phone(src="D:/mine/R@ndom team/app/img/телефон.png")
                    img.block2_check(src="D:/mine/R@ndom team/app/img/чек обычный.png")